.idea/
.vscode/
.venv/

build/
cmake-build-debug/
cmake-build-release/

data/
results/
analysis_results/
sbatch_runs/
experiments/

benchmark_results_*
*.png
slurm-*.out
slurm-*.err

__pycache__/
*.py[cod]
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz

*~
\#*
*ipynb*
competitors/rmi/*.h
competitors/rmi/*.cpp
rmi_data/*
rmi.tar.zst
fb*.csv
